*.class

# Package Files #
*.jar
*.war
*.ear

# IDE metadata files
*.iml
/.idea/

# Maven output
/target/
/dependency-reduced-pom.xml

# Runtime folders
/data/
/config/
/logs/
/hdindex/

# Config override
/neo4j.properties
